<div class="footer">
	<div class="jagged2"></div>
	<div class="container">
		<ul>
			<li>&copy; 2012 Hackbright Academy</li>
			<li><%= link_to "Home", pages_home_path %></li>
			<li><%= link_to "About", pages_about_path %></li>
			<li><%= link_to "Community", pages_community_path %></li>
			<li><%= link_to "FAQ", pages_faq_path %></li>
			<li><%= link_to "Dates", pages_dates_path %></li>
			<li><%= link_to "Support", pages_support_path %></li>
			<li><%= link_to "Press", pages_press_path %></li>
		</ul>
	</div>
</div> 

