<div class="footer">
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=110202509104041";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
	
	<div class="jagged2"></div>
	<div class="container">
		<ul>
			<li>&copy; Hackbright 2012</li>
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Community", community_path %></li>
			<li><%= link_to "Testimonials", testimonials_path %></li>
			<li><%= link_to "FAQ", faq_path %></li>
			<li><%= link_to "Get Involved", get_involved_path %></li>
			<li>		
					<div id="hackstar-share-twitter">
						<a href="https://twitter.com/share" class="twitter-share-button" data-url="http://www.hackbrightacademy.com" data-text="Check out @Hackbright's 10-week Programming Fellowship for Women! #changetheratio">Tweet</a>
					</div>
			</li>	
			<li>
				<div id="hackstar-share-fb">
				<div class="fb-like" data-href="http://www.facebook.com/hackbrightacademy" data-send="false" data-layout="button_count" data-show-faces="true">
				</div>	
				</div>
			</li>
			
			<div id="social-footer">
				<li><a href="http://www.facebook.com/hackbrightacademy" target="_blank"><img src="/assets/icn-facebook2.png" alt=""></a></li>
				<li><a href="http://www.linkedin.com/company/hackbright-academy" target="_blank"><img src="/assets/icn-linkedin.png" alt=""></a></li>
				<li><a href="http://www.twitter.com/hackbright" target="_blank"><img src="/assets/icn-twitter2.png" alt=""></a></li>
			</div>
			
		</ul>	
		</div>
		
	</div>
</div> 

