<div class="footer">
	<div class="jagged2"></div>
	<div class="container">
		<ul>
			<li>&copy; 2012 Hackbright Academy</li>
			<li><%= link_to "Home", home_path %></li>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Community", community_path %></li>
			<li><%= link_to "Testimonials", testimonials_path %></li>
			<li><%= link_to "FAQ", faq_path %></li>
			<li><%= link_to "Get Involved", get_involved_path %></li>
			<div id="social-footer">
				
			<li><a href="http://www.facebook.com/hackbrightacademy" target="_blank"><img src="/assets/icn-facebook2.png" alt=""></a></li>
			<li><a href="http://www.linkedin.com/company/hackbright-academy" target="_blank"><img src="/assets/icn-linkedin.png" alt=""></a></li>
			<li><a href="http://www.twitter.com/hackbright" target="_blank"><img src="/assets/icn-twitter2.png" alt=""></a></li>
			</div>
		</ul>
	</div>
</div> 

