<div id="undefined-sticky-wrapper" class="sticky-wrapper is-sticky" style="height: 85px; ">	
<header style="position: fixed; top:0;" class="is-sticky">

	<div class="topbar">
		<div class="container">
			<div class="ten columns">
				<a href="#"><p class="logo"></p></a>
			</div>
			
		</div>
	</div> <!-- end topbar -->

	<div class="container">
		<div class="sixteen columns">
			<nav>
				<div class="sixteen columns alpha">
					<ul>
						<li><%= link_to "Home", pages_home_path %></li>
						<li><%= link_to "About", pages_about_path %></li>
						<li><%= link_to "Community", pages_community_path %></li>
						<li><%= link_to "FAQ", pages_faq_path %></li>
						<li><%= link_to "Dates", pages_dates_path %></li>
						<li><%= link_to "Support", pages_support_path %></li>
						<li><%= link_to "Press", pages_press_path %></li>
						<li><%= link_to "Apply Today!", pages_apply_path, :class => "btn large green apply-button" %></li>
					</ul>
				</div> <!-- end nine columns -->
				</div> <!-- end seven columns -->
			</nav>

		</div> <!-- end sixteen columns -->
	</div> <!-- end container -->
	
</header> <!-- end header -->
</div>