
<div id="undefined-sticky-wrapper" class="sticky-wrapper is-sticky">	
<header style="position: fixed;" class="is-sticky">

	<div class="topbar">

			<div class="sixteen columns" style="margin-left:3%">        
				<nav>
						<ul>
							<li style="float:left;"><a href="http://www.hackbrightacademy.com"><img src="assets/Hackbright.png" alt="Hackbright" style="scale-with-grid"></a></li>
						</ul>
						<ul style="float:right;margin-top: 0px;">	
							<li><%= link_to "About", about_path %></li>
							<li><%= link_to "Community", community_path %></li>
							<li><a href="http://blog.hackbrightacademy.com">Blog</a></li>
							<li><%= link_to "Employers", employers_path %></li>
							<li><%= link_to "FAQ", faq_path %></li>
							<li><%= link_to "Get Involved", get_involved_path %></li>
							<li><%= link_to "Apply Today!", apply_path, :class => "btn-flat btn-red" %></li>
							<% if user_signed_in? %>
								<li><%= link_to 'Sign out', destroy_user_session_path, :method => :delete, :class => "btn-flat btn-blue" %></li>
							<% end %>		
							
							
						</ul>
				</nav>

		</div>
			
	</div> <!-- end topbar -->


	<div class="container">
		<% if notice %>
		<br/><br/><br/><br/><br/>
		<div class="alert">
			<%= notice %>
			<a class="close" data-dismiss="alert">&times;</a>
		</div>
		<% end %>
		
		<% if alert %>
		<br/><br/><br/><br/><br/>
		<div class="alert">
			<%= alert %>
			<a class="close" data-dismiss="alert">&times;</a>
		</div>
		<% end %>	
	</div> <!-- end container -->
	
	


</header> <!-- end header -->


</div>

