<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<%= stylesheet_link_tag "styles.css" %>
	<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"></script>


  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-31182348-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
	<script src="http://files.tweeterspy.com/tweeterspy-cdn.js#pub_id=tw-51d2730da423c" type="text/javascript"></script>
	<!-- TEMPLATE -->
		<!-- Basic Page Needs
	  ================================================== -->
		<meta charset="utf-8">
		<title>Hackbright Academy</title>
		<meta name="description" content="Hackbright Academy is a 10-week software development training program exclusively for women.  We are based in San Francisco, CA.  We train you to be a software developer and then help you find a job in Silicon Valley.">
		<meta name="author" content="">
		<meta name="keywords" content="python, school, programming, hacker, women, ruby, rails, html, css, javascript, academy, learn to code, become a developer, women developers, women coders, learn to program, learn how to program, learn how to code san francisco, hackbright, hackbright academy, app academy, dev bootcamp, hacker school">


		<!-- Mobile Specific Metas
	  ================================================== -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<!-- CSS
	  ================================================== -->
	  	<link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600,700,800' rel='stylesheet' type='text/css'>


		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Favicons
		================================================== -->
		<link rel="shortcut icon" href="/assets/favicon.png">
		<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		<link rel="apple-touch-icon" href="images/apple-touch-icon.png">
		<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png">	
</head>
<body>

	<!-- Primary Page Layout
	================================================== -->
<%= render :partial => "shared/header" %>	


<%= yield %>
<script type="text/javascript">var switchTo5x=true;</script>
<script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script>
	$('.dropdown-toggle').dropdown();
	stLight.options({publisher: "bf545610-dbac-42e4-bc25-a3ea8a35076c", doNotHash: false, doNotCopy: false, hashAddressBar: false});

</script>
<%= render :partial => "shared/footer" %>	


</body>
</html>
